.item {
    background-color: rgb(206, 218, 201);
    padding: 15px;
    margin-bottom: 15px;
    border: transparent;
    border-radius: 5px;
    box-shadow: 0 0 1em #c6aeae;
    transition: all 0.2s ease-in-out;

    &:hover {
        box-shadow: 0 0 1em #d1adad;
    }

    &.completed {
        text-decoration: underline;
    }
}

.toggles {
    color: black;
}

.name {
    padding-top: 3px;
}

.remove {
    padding-left: 0;
}

button:focus {
    border: 1px solid #333;
}
